airtest==1.1.6
certifi==2020.6.20
chardet==3.0.4
decorator==4.4.2
hrpc==1.0.8
idna==2.10
Jinja2==2.11.2
kafka-python==2.0.2
kazoo==2.8.0
MarkupSafe==1.1.1
mss==4.0.3
numpy==1.19.2
opencv-contrib-python==3.4.2.17
Pillow==7.2.0
pocoui==1.0.80
pykafka==2.8.0
python-xlib==0.28
pywinauto==0.6.3
PyYAML==5.3.1
requests==2.24.0
self==0.0.0
six==1.15.0
tabulate==0.8.7
urllib3==1.25.10
websocket-client==0.48.0
